.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform .4s ease, box-shadow .4s ease;
    height: fit-content;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* CONTAINER DA IMAGEM */
.product-image {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}

/* IMAGEM */
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* TEXTO */
.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.product-category {
    font-size: 0.75rem;
    color: #64748b;
    background: #f1f5f9;
    padding: 2px 10px;
    border-radius: 20px;
    margin-bottom: 8px;
    text-align: center;
}

/* BOTÃO */
.product-button {
    background-color: #2e7d32;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.product-button:hover {
    background-color: #256628;
}