/* FUNDO PATTERN */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/login/Trabalhadores.jpg");
    flex: 1;
    background-size: cover;
    background-position: center;
}

/* CARD CENTRAL */
.auth-card {
    width: min(900px, 95vw);
    height: auto;
    min-height: 500px;
    display: flex;
    border-radius: 14px;
    overflow: hidden;
    background: #3a3a3a;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

/* IMAGEM ESQUERDA */
.auth-image {
    background-color: #ffffff;
    flex: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}

.auth-logo-svg {
    width: 300px;
    height: 300px;
}

/* FORM DIREITA */
.auth-form-area {
    flex: 1;
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-logo {
    margin-bottom: 20px;
}

.tittle-logo {
    margin-bottom: 30px;
    text-align: center;
}

.auth-form-area form {
    display: flex;
    flex-direction: column;
}

.auth-form-area input {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.auth-label {
    margin-bottom: 10px;
}

.auth-button {
    margin-top: 10px;
    padding: 14px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.auth-switch {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #ccc;
    text-align: center;
}

.auth-switch a {
    color: #c084fc;
    text-decoration: underline;
}

@media (max-width: 670px) {
    .auth-card {
        flex-direction: column;
        width: 95vw;
        min-height: auto;
    }

    .auth-image {
        height: 180px;
        flex: none;
    }

    .tittle-logo {
        text-align: center;
    }

    .auth-logo-svg {
        width: auto;
        height: 100%;
    }

    .auth-form-area {
        padding: 32px 24px;
    }
}